html {
  background-color: black;
  color: cornsilk;
  font-family: 'Cardo', serif;
}

.App {
  max-width: 38rem; 
  padding: 2rem;    
  margin: auto;     
  font-family: 'Cardo', serif;
}

a {
  font-family: 'Cardo', serif;
  color: #d48428;
  text-decoration: none;
}

.title:hover {
  color: #d4bd28;
}

.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.nav-item {
  list-style-type: none;
  margin: 0 1em;
  padding: 0.1em;
}

p {
  text-align: justify;
}